{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": ["off"],
    "linebreak-style": ["off"],
    "no-undef": ["error"],
    "react/sort-comp": ["off"],
    "react/prefer-stateless-function": ["off"],
    "semi": ["off"],
    "spaced-comment": ["off"],
    "comma-dangle": ["error", "never"],
    "react/no-string-refs": ["off"],
    "react/no-array-index-key": ["off"],
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "react/jsx-no-bind": "off",
    "camelcase": "off",
    "global-require": "off",
    "no-unused-expressions": "off",
    "react/destructuring-assignment": "off",
    "react/no-multi-comp": "off",
    "no-nested-ternary": "off",
    "import/prefer-default-export": "off"
  },
  "plugins": ["react", "jsx-a11y", "import", "flowtype"],
  "globals": {
    "it": "readable",
    "expect": "readable",
    "describe": "readable",
    "navigator": "readable"
  }
}
